.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 60px auto 0px;
  font-family: "Abhaya Libre", serif;

  .wrapper {
    display: block;
    position: relative;
    padding: 40px;
  }

  hr {
    margin: 30px 0;
  }

  h1 {
    font-size: 2.5em;
    line-height: 0.9;
    padding-bottom: 15px;
    margin-bottom: 20px;
    max-width: 775px;
    color: var(--orange);
    border-bottom: 1px solid var(--black);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--orange);
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 18px;
  }

  h3 {
    color: var(--black);
    background-color: var(--lightGray);
    display: inline-block;
    padding: 5px 10px 4px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 10px 0 10px;
    text-transform: uppercase;
  }

  h3 + p {
    margin-top: 20px;
  }

  p,
  ul li,
  ol li,
  a,
  blockquote {
    font-size: 15px;
    line-height: 1.5;
  }

  p {
    margin-bottom: 10px;
  }

  p + ul {
    margin-top: -5px;
  }

  ul {
    margin-top: 0;
  }

  a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    &:after {
      content: "";
      display: block;
      width: 100%;
      margin: auto;
      height: 1px;
      background-color: var(--orange);
      margin-top: -5px;
    }
  }

  blockquote {
    font-weight: bold;
    border-left: 5px solid var(--gray);
    margin-left: 0;
    padding-left: 30px;
  }

  blockquote footer {
    font-weight: normal;
    margin-top: 15px;
  }

  pre {
    display: inline-block;
    position: relative;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: var(--lightGray);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  img {
    width: 100%;
    margin: 10px 0;
    border: 1px solid var(--gray);
  }

  video {
    width: 100%;
  }

  .backHome {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.9em;
    padding: 10px 30px;
    margin-top: 10px;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    &:after {
      display: none;
    }
  }
  .returnHome {
    margin-top: 25px;
    border-top: 1px solid var(--black);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 825px;
    margin: 25px auto;

    .wrapper {
      padding: 100px 50px;
    }

    hr {
      margin: 70px 0;
    }

    pre + hr {
      margin-top: -20px;
    }

    h1 {
      font-size: 4.5em;
      line-height: 0.85;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 25px;
    }

    h3 {
      font-size: 16px;
      padding: 8px 15px 7px;
      margin-bottom: 15px;
      margin-top: 30px;
    }

    p,
    ul li,
    ol li,
    a,
    blockquote {
      font-size: 18px;
      line-height: 1.5;
    }

    p {
      margin-bottom: 20px;
      padding-right: 20px;
    }

    h1 + p {
      font-size: 22px;
      line-height: 1.25;
      margin-bottom: 30px;

      a {
        font-size: 22px;
        font-weight: 400;
        color: var(--orange);
        cursor: pointer;
        &:after {
          display: none;
        }
      }
    }

    a:hover {
      color: var(--orange);
    }

    pre {
      margin-bottom: 30px;
    }

    .returnHome {
      margin-top: 50px;
    }

    .backHome {
      font-size: 1em;
      &:hover {
        color: var(--orange);
      }
    }
  }
}
