.container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 70px auto;

    .wrapper {
        display: block;
        position: relative;
        padding: 40px;
    }

    hr {
        margin: 30px 0;
    }

    h1 {
        font-size: 12vw;
        line-height: .8;
        padding-bottom: 15px;
        max-width: 775px;
        color: var(--orange);
    }

    h2, h3, h4, h5, h6 {
        color: var(--orange);
        margin-bottom: 10px;
    }

    h2 {
        font-size: 10vw;
    }

    h3 {
        font-size: 16px;
    }

    section > h3 {
        color: var(--white);
        background-color: var(--gray);
        display: inline-block;
        padding: 10px 15px;
        font-family: sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .5px;;
        margin: 10px 0 30px;;
    }

    p, ul li, ol li, a, blockquote {
        font-size: 14px;
        line-height: 1.5;
    }

    p {
        margin-bottom: 10px;
    }

    ul {
        margin-top: 0;
    }

    a {
        color: var(--orange);
    }

    blockquote {
        font-weight: bold;;
        border-left: 5px solid var(--gray);
        margin-left: 0;
        padding-left: 30px;
    }

    blockquote footer {
        font-weight: normal;
        margin-top: 15px;
    }

    pre {
        display: inline-block;
        position: relative;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        background: var(--lightGray);
        padding: 20px;
        margin-bottom: 0;
    }

    img {
        width: 100%;
        margin: 10px 0;
        border: 1px solid var(--gray);
    }

    video {
        width: 100%;
    }


}

.backHome {
    display: block;
    font-size: 1.25em;
    padding-top: 10px;
    margin-top: 20px;
    color: var(--orange);
    border-top: 2px solid var(--orange);
    width: 100%;
    text-decoration: none;
}

@media (min-width: 769px) {
    .container {
        max-width: 850px;
        margin: 100px auto;

        h1 {
            font-size: 100px;
            line-height: 0.9;
            margin-bottom: 40px;
        }
    }

    .backHome {
        font-size: 1em;
        color: var(--orange);
        border-top: 2px solid var(--orange);
    }
}