.container {
    padding: 40px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    
    .wrapper {
        margin: auto;
        max-width: 380px;

        h3 {
            font-size: 1.5em;
        }
    }  
    .listStyles {
        li {
            margin-bottom: 15px;
        }
        
        li a {
            font-size: 1.25em;
            text-decoration: none;
            transition: color .3s ease;
        }
        
        li a:hover {
            color: var(--orange);
        }
    }
    
}

@media (min-width: 769px) {
    .container {
        border-bottom: 2px solid var(--green);
        max-height: none;
        overflow: inherit;
        height: 90vh;
        width: 40%;
        display: flex;
        align-items: center;
        padding: 60;
        overflow: scroll;
        overflow-x: hidden;
    }
    .wrapper {
        max-width: 315px;
        h3 {
            font-size: 2em;
            margin: 30px 0 30px;
        }
    }
    .listStyles {
        li {
            margin-bottom: 15px;
        }
    
        li a {
            font-size: 1.45em;
            text-decoration: none;
        }
    }

}

@media (min-width: 1500px) {
    .wrapper {
        max-width: 430px;
        
        h3 {
            font-size: 2.5em;
        }

        li a {
            font-size: 5em;
        }
    }
    
}