.socials {
	font-size: 1.5em;
	color: var(--green);
	display: flex;
	align-items: center;

	a {
		display: flex;
		align-items: center;
		margin-right: 8px;
		transition: color .3s ease;
	}

	a:hover {
		color: var(--orange);
	}
}


@media (min-width: 769px) {
	.socials {
		font-size: 2em;

		a {
			margin-right: 10px;
		}
	}
}

@media (min-width: 1500px) {
	.socials {
		font-size: 2.5em;

		a {
			margin-right: 15px;
		}
	}
}
