.span {
    display: block;
    position: fixed;
    padding: 20px 100px 18px;
    z-index: 100;
    top: 35px;
    right: -100px;
    transform: rotate(45deg);
    background-color: var(--black);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
}
@media (min-width: 768px) {
    .span {
        font-size: 1.25em;
        top: 5px;
        left: -120px;
        width: 500px;
        transform: rotate(-45deg);
    }
}

@media (min-width: 1500px) {
    .span {
        font-size: 1.75em;
        top: 45px;
        left: -110px;
        padding: 25px 100px 22px;
    }
}